mydia==2.2.1
requests==2.21.0
numpy==1.21.4
pandas==1.3.0
-e git+https://github.com/zooniverse/panoptes-python-client.git#egg=panoptes_client
python_magic==0.4.24
-e git+https://github.com/julian-r/python-magic.git#egg=python-magic-bin
opencv_python==4.5.4.60
Pillow==8.3.2
scikit_learn==1.0.1
-e git+https://github.com/soft-matter/pims.git#egg=PIMS
av==8.0.1
jupyter==1.0.0
folium==0.12.1
ipyfilechooser==0.4.4
qgrid==1.3.1
gdown==3.13.0
itables==0.3.0
boto3==1.15.18
scp==0.14.1
dataclass-csv==1.4.0
ipywidgets==8.0.0b0
bqplot
ipympl
ipyvolume
scipy
voila
jupyterlab
